.nav-item{
    font-size: 20px;
    margin-left:10%;
    margin-right:10%;
}
.navbar-nav{
   margin-left :30%;
}
.img{
    width: 100px;
    margin-bottom:20px;
}
.container-fluid{
    height: 85px;
}

