<div class="container-fluid">
    <div class="row modelo">
        <div class="col-md-4 box">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body clase-1">
                    <div class="row">
                      <img src="../../assets/img/cash-coin.svg" alt="" class="col"> 
                      <p class="col">Pagos</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" >Save changes</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 box">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body clase-2">
                    <div class="row">
                      <img src="../../assets/img/people-fill.svg" alt="" class="col" >
                      <p class="col">Admins</p>
                    </div>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" [routerLink]="['/admins']">Save changes</button>
                  </div>
            </div>
         </div>
    </div>
    <div class="col-md-4 box">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body clase-1"> 
                <div class="row">
                  <img src="../../assets/img/folder-fill.svg" alt="" class="col">
                  <p class="col">Registro</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/register']"  >Save changes</button>
              </div>
        </div>
     </div>
</div>
<div class="container-1">
  <div class="row">
    <div class="col-md-4 box">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body clase-2">
                <div class="row">
                  <img src="../../assets/img/person-square.svg" alt="" class="col">
                  <p class="col">Pacientes</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/user']">Save changes</button>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4 box">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body clase-1">
              <div class="row">
                <img src="../../assets/img/person-check-fill.svg" alt="" class="col">
                <p class="col">Log in</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" [routerLink]="['/home']">Save changes</button>
            </div>
          </div>
        </div>
  </div>
  <div class="col-md-4 box">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body clase-2">
            <div class="row">
              <img src="../../assets/img/lock-fill.svg" alt="" class="col">
              <p class="col">Permisos</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
</div>  
</div>

