
.container_1{
    display: flex;
    justify-content: space-evenly;
    
}

.txt_titulo{
    text-align: center;
}
.txt_titulo1{
    text-align: center;
    margin-top:20px;
}
.box{
    margin-top:50px;
    margin-bottom: 50px;
}
.card{
    width: 30%;
    box-shadow: 4px 8px 18px #00000066;
    border-radius: 15px;

}

